p{
  color: blue;
  text-decoration-line: underline;
}
h1{
  text-shadow: 2px 2px red;
}

.tipografia{
  font-family: 'Times New Roman', Times, serif;
  color: bisque;
}

.tipografia2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px 65px;
}